  .sidebar-esquerda {
    position: fixed;       /* FIXA na lateral esquerda */
    top: 0;
    left: 20px;
    width: 200px;
    height: 100vh;
    background-color: var(--fundo-principal);
    border-right: 1px solid var(--borda-cor);
    display: flex;
    flex-direction: column;
    padding-top: 84px;
    transition: transform 0.3s ease-in-out;
  }

  .conteudo-scrollavel {
  overflow-y: auto;
  height: calc(100vh - 84px);
  }

  .conteudo-scrollavel::-webkit-scrollbar {
    width: 8px; 
  }

  .conteudo-scrollavel::-webkit-scrollbar-track {
    background: var(--fundo-principal);
    border-radius: 4px;
  }


  .conteudo-scrollavel::-webkit-scrollbar-thumb {
    background-color: var(--borda-cor);
    border-radius: 4px;
    border: 2px solid var(--fundo-principal);
  }


  .conteudo-scrollavel::-webkit-scrollbar-thumb:hover {
    background-color: var(--texto-principal);
  }

  #sidebar-esquerda-inicial, #sidebar-esquerda-assuntos{
    border-bottom: 1px solid var(--borda-cor);
    padding-bottom: 10px; /* Adiciona espaço interno antes da borda */
    margin-bottom: 10px;  /* Adiciona espaço depois da borda para separar do próximo conteúdo */
    margin-top: 10px;
  }

  .sidebar-escondida {
    transform: translateX(-185px);
    transition: transform 0.3s ease-in-out;
    
  }

  .sidebar-escondida .conteudo-scrollavel {
  opacity: 0;
  pointer-events: none; /* Impede interação */
  overflow: hidden; /* Remove o scroll */
  }